# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# IntelliJ project files
.idea
*.iml

# Binary files
/bin
/release

# Dependency directories
/vendor
/go/pkg

# Log files
*.log

# Temporary files
*.tmp
*.bak
*.swp

# OS-specific files
.DS_Store
Thumbs.db
